.howtoplay {
    cursor: pointer;
    position: absolute;
    border-radius: .5rem;
    height: 25rem;
    max-width: 50rem;
    top: 15rem;
    left: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: #ffa500;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-family: cursive, monospace, sans-serif;

    @include respond(phone) {
        left: 5%;
        max-width: 90%;
    };

    @include respond(tab) {
        left: 5%;
        max-width: 90%;
    }

    h1 {
        padding: .5rem;
        font-size: 2.5rem;
        font-family: sans-serif;
    }

    p {
        padding: 1rem;
        font-family: sans-serif;
        font-size: 1.8rem;
        font-weight: lighter;
        line-height: 3.5rem;

        @include respond(phone) {
            padding: .3rem;
            font-size: 1.5rem;
            //line-height: 2.5rem;
        }
    }
};